.flex-d{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
  
    padding: 5px;
  }
  .apple{
    background-color: #f5f5f5;
  
  }
  .flex-h{
    display: none !important;
  
  }
  .nav-header{
  
    width: 100%;
    color: black !important;
  }
  .air{
    color: #505966;
  }
  .air-width{
    width: 417px !important;
  }
  .mac-con{
    box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .box-btn{
    box-shadow: 0px 4px 4px 0px #00000040 inset;
  
  
  }
  .slide{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740560859/Rectangle_10_xbogsp.png');
    background-position:center;
    background-size:auto;
    width: 417px;
  height: 196px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  
  }
  .slide-2{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740560859/Rectangle_12_rm6mpb.png');
    background-position:center;
    background-size:auto;
    width: 407px;
  height: 186px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  
  }
  .slide-3{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740560859/Rectangle_12_1_j7zazj.png');
    background-position:center;
    background-size:auto;
    width: 417px;
  height: 196px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  
  }
  .btn-buy{
    background-color: #FFFFFF !important;
    border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040 inset !important;
  border: none;
  color: #505966;
  
    
  
  }
  .bar{
    background-color: black;
    width: 90px;
    height: 6px;
  }
  .bar-3{
    background-color: black;
    width: 180px;
    height: 6px;
  }
  .bar-2{
    background-color: black;
    width: 150px;
    height: 6px;
  }
  .iphone{
    background-image: url('https://i.ibb.co/yFR4r1xm/Rectangle-30.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  /*'https://res.cloudinary.com/drbiup2zg/image/upload/v1740560493/Rectangle_41_wwjo3j.png'*/
  .iphonetwo{
    background-image: url('https://i.ibb.co/hxGJv3j9/Rectangle-41.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .iphonethree{
    background-image: url('../assets/images/Rectangle_39.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  
  }
  .mac-1{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740560859/Rectangle_4_nf2133.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
  }
  .mac{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740561707/Rectangle_36_zc6dvx.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .mactwo{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740562218/Rectangle_38_juhopr.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .macthree{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740562218/Rectangle_37_qbqa8q.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .ipad{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740562644/Rectangle_42_tkahzj.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .ipadtwo{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740562644/Rectangle_44_gkzfwd.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .ipadthree{
    background-image: url('https://res.cloudinary.com/drbiup2zg/image/upload/v1740562644/Rectangle_43_bswnax.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  }
  .iphonethree{
    background-image: url('https://i.ibb.co/yFR4r1xm/Rectangle-30.png');
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 367px;
  height: 342px;
  top: 962px;
  left: 77px;
  gap: 0px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  
  
  }
  .grid{
    background-image: url('../assets/images/Rectangle_14.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 635px;
  height: 527px;
  color: #FFFFFF;
  
  
  
  
  }
  .gridtwo{
    background-image: url('../assets/images/Rectangle_15.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 635px;
  height: 527px;
  color: black;
  
  }
  
  .gridthree{
    background-image: url('../assets/images/Rectangle_16.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 635px;
  height: 527px;
  color: black;
  
  }
  .gridfour{
    background-image: url('../assets/images/Rectangle_17.png');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 635px;
  height: 527px;
  color: black;
  
  }
  .mybtn{
    width: 202px;
  height: 34px;
  bottom: 785px !important;
  left: 173px;
  gap: 0px;
  border-radius: 40px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #4B93FF !important;
  color: #FFFFFF !important;
  
  
  }
  .footer{
    background-color: #CBCBCB;
    background-size: cover;
    width: 100%;
  
  }
  .slide-mars{
    margin-left:900px ;
  }
  .fox{
    margin-left: 180px;
  }
  

  .order-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .order-summary {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .address-form input, .address-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  
  @media only screen and (max-width: 600px) {
    .nav-header{
      background-color: #f5f5f5;
      width: 100%;
  
    }
    .flex-d{
      display: none !important;
  
    }
    .flex-h{
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: white;
      padding: 5px;
      flex-direction: column;
    }
    .dir-2{
      flex-direction: column;
    }
  .slide-flex{
    flex-direction: column;
  }
    
  .slide-mars{
    margin-left:
    1px ;
  }
  .card-1{
    width: 287px;
    height: 262px;
   margin: 50px 0  50px ;
  
  
  }
  
  .slide-2, .slide, .slide-3{
  
    background-size:auto;
    width: 327px;
  height: 156px;
  gap: 0px;
  border-radius: 30px ;
  opacity: 0px;
  
  }
  
   .gridthree, .gridfour , .gridtwo{
  
    width: 325px;
  height: 287px;
  color: black;
  
  }
  
  .grid{
  
    width: 325px;
  height: 287px;
  color: white;
  
  }
  .overflow-h{
    overflow: hidden;
    width: 100%;
  }
  .apple{
    background-color: white;
    color: black;
  
  }
  }